 :root {
    --second-color: #212121;
    --main-color: #757575;
    --main-fs: 14px;
    --white-color: #FFFFFF;
    --accent-color:#2196F3;
 }

body {
font-family: "Roboto", sans-serif;
background: var(--white-color);
color: var(--main-color)
}

.list {
    list-style: none;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
 margin: -1px;
}

.header-logo,
.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.header-studio {
color: #000000;
}

.header-nav .current {
    color: var(--accent-color);
} 

.link {
text-decoration: none;
}


.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-color);
}

.header-link:hover,
.header-link:focus, 
.header-mail:hover,
.header-mail:focus, 
.header-tel:hover,
.header-tel:focus,
.fooret-mail:hover,
.fooret-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
color: var(--accent-color);
}

.header-mail,
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
}


/*      HERO      */

.hero {
background: #2F303A;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}
 
.hero-btn {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-color);
background: var(--accent-color);
border-radius: 4px;
}

.hero-btn:hover {
background:#188ce8;
}

/* QUALITY */

.quality-after-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-color);
}

.quality-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-color);
}
/*        WORK          */


.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16x;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-color);
}

/*       TEAM          */
.team {
background: #F5F4FA;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:  var(--second-color);
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color:  var(--second-color);
}

.team-text {
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
}

/*    FOOTER    */

.footer{
background: #2F303A;
}
.fotter-adress-link {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--white-color);
}

.fooret-mail, 
.footer-tel {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-studio {
color: var(--white-color)
}


.button-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-color);
border: none;
font-family: inherit;
}

.button-btn:focus,
.current-btn,
.button-btn:hover {
background-color:#2196F3;
color: var(--white-color);
}

/* PORTFOLIO  */

.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--second-color);
}

.portfolio-text {
font-weight: 400;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--main-color);
}